DATABASE_URL=postgresql://user:password@host-pooler.region.aws.neon.tech/dbname?sslmode=require
DIRECT_URL=postgresql://user:password@host.region.aws.neon.tech/dbname?sslmode=require
AUTH_SECRET=changeme
AUTH_GITHUB_ID=changeme
AUTH_GITHUB_SECRET=changeme
ANTHROPIC_API_KEY=changeme
